<div class="container">
  <h2>User Data</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input type="text" #nameRef="ngModel" maxlength="10" minlength="4" required name="name" class="form-control" 
      [(ngModel)]="myName">
      <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
        <div [hidden]="!nameRef.errors.required">
          Please enter a name.
        </div>
        <div [hidden]="!nameRef.errors.minlength">
          Please enter atleast 4 charaters.
        </div>
        <div [hidden]="!nameRef.errors.maxlength">
          Name should not exceed 10 characters.
        </div>
      </div>
      <!-- <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
        Please enter a name.
      </div> -->
    </div>
     <b>{{nameRef.className}}</b>
    <div class="form-group">
      <label>Email</label>
      <input type="text" #emailRef="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" class="form-control" ngModel>
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
        <div [hidden]="!emailRef.errors.pattern">
          Please enter valid email.
        </div>
      </div>
    </div>

    <div ngModelGroup="address">
     <div class="form-group">
      <label>Street</label>
      <input type="text" name="street" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text" name="city" class="form-control" ngModel>
    </div>

    <div>
      <label>PostalCode</label>
      <input type="text" #refPincode="ngModel" pattern="^[1-9][0-9]{4}$" name="postalcode" class="form-control" ngModel>
      <div *ngIf="refPincode.errors && (refPincode.dirty || refPincode.touched)" class="alert alert-danger">
        <div [hidden]="!refPincode.errors.pattern">
          Please enter 5 digit number.
        </div>
      </div>
    </div>      
  </div>
  <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Submit</button>
</form>
</div>